
# binarios
*.exe
*.out

# archivos de prueba locales
test.in.txt
test.out.txt
test.myout.txt

# archivos temporales de VSCode
.vscode/

# Ejercicios que no subimos aún
#ejercicio2.cpp
#ejercicio3.cpp
#ejercicio4.cpp
#ejercicio5.cpp
main.cpp
#funciones/
#tads/AVL.cpp
tads/ListImp.cpp
tads/minHeap.cpp
tads/TablaHashAbierto.cpp
tads/TablaHashTemplate.cpp
tads/TablaHash_cerrado.cpp